<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munzbit.notarius">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.MyAppliction"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainScreenActivity" />
        <activity android:name=".activity.MainActivity22" />
        <activity android:name=".activity.WorkOutActivity" />
        <activity android:name=".activity.DurationSetterActivity"></activity>

        <activity
            android:name=".activity.WorkoutDetails"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activity.WorkOutHistory" />

        <activity android:name=".activity.WorkOutList" />

        <activity android:name=".activity.NewSettingsActivity"></activity>

        <service
            android:name=".alarm_manager.AlarmService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"></service>

      <!--  <receiver android:name=".alarm_manager.ServiceBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

       <!-- <service android:name=".alarm_manager_updated.NotificationService"></service>

        <receiver android:name=".alarm_manager_updated.AlarmAlertBroadcastReciever"></receiver>

        <receiver android:name=".alarm_manager_updated.PhoneStateChangedBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        -->

    </application>

</manifest>

